@import '../../scss/styles.scss';

marquee {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;

  p {
    margin: 0;
    padding: 0;
    display: inline;
    &::before{
      content:' + + + '
    }
  }
}
