@import '../../scss/styles.scss';

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: $z-index-plus-plus;
  padding-top: $spacer / 2;

  p {
    display: inline;
  }

  .nav {
    float: right;
    display: inline;
    
    p {
      padding-left: $spacer;
    }
  }

}