html,  body {
  font-family: "hk_groteskmedium";
  line-height: $spacer;
  font-weight: normal;
}

h1, h2, h3, p {
  margin-bottom: 0;
}

p {
  margin-bottom: $spacer;
}

.p-large  {
    text-rendering: optimizeLegibility;
}

a {
  color: lighten($black, 0);
  text-decoration: none;
}

.bold {
  font-family: 'hk_groteskbold';
}

.font-mono {
  font-family: VT323, Courier, monospace;
  font-size: $spacer * 0.55;
}
