html,  body {
  font-family: "hk_groteskmedium";
  line-height: $spacer;
  font-weight: normal;
}

h1, h2, h3, p {
  margin-bottom: 0;
}



.p-large  {
    text-rendering: optimizeLegibility;
}

a {
  color: lighten($black, 0);
  text-decoration: none;
}

.bold {
  font-family: 'hk_groteskbold';
}

// .ticker {
//   // padding-bottom: $spacer;
//   // padding-top: $spacer * 0.5;
//   margin: 0;

//   marqu
//   p {
//     font-size: 0.8rem;
//   }
// }